html, body {
    margin: 0;
    padding: 0;
    color: #657b83;
    font-family: Roboto,Lato,'Helvetica Neue',Helvetica,sans-serif;
    background-color: #eee;
  }
  button {
    background: #2aa198;
    color: white;
    border-radius: 20px;
  }
  #submit_button {
    margin-left: 15px;
    border-radius: 25px; 
  }
  .cause_button {
    height: 50px;
    width: 100px;
    font-size: 14px;
  }
  #layers {
    height: 50px;
    width: 170px;
  }
  .layer_button {
    height: 34px;
    width: 80px;
  }
  .dlayer_button {
    height: 34px;
    width: 80px;
    background: red;
  }
  canvas {
    display: block;
    background-color: #eee;
  }